@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato&family=Maven+Pro:wght@500&family=Mukta&display=swap');
body {
    font-family: Maven Pro, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c2d6d8;
}

/* Header */

header {
    position: relative;
    font-size: 200%;
    height: 250px;
    color: #1a265b;
    line-height: 100px;
    text-align: center;
    background: #c2d6d8;
    background: linear-gradient(22deg,#c2d6d8 0%, #50a5af 80%);
    background: -webkit-linear-gradient(22deg,#c2d6d8 0%, #50a5af 80%);
    background: -moz-linear-gradient(22deg,#c2d6d8 0%, #50a5af 80%);
}

header div {
    width:fit-content;
    height: fit-content;
    background-color: #ffff;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 12px 15px 0px 6px #1a265b;
    -webkit-box-shadow: 12px 15px 0px 6px #1a265b;
    -moz-box-shadow: 12px 15px 0px 6px #1a265b;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 0;

}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}
 
/* Intro */

.intro {
    font-family: Maven Pro, sans-serif;
    color: #1a265b;
    font-size: 150%;
    padding: 10px;
}

 
/* Slides */

.slide-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
} 


.slide {
    position: relative;
    height: 300px;
    padding-top: 10px;
    object-fit: cover;
}

#slide1 {
    background-image: url("../images/deadlift.jpg");
    
}

#slide2 {
    background-image: url("../images/pexels-photo-7690215.jpeg");
}

#slide-random {
    background-image: url("../images/swing.jpeg");
}

#slide1, #slide2, #slide-random {
    flex-grow: 2;
}

.slide a {
    text-decoration: none;
    font-family: Maven Pro, sans-serif;
    position: absolute;
    background: #c2d6d8;
    color: #1a265b;
    width: 200px;
    border: 1px solid #1a265b;
    border-radius: 10px;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 35px;
}

.slide a:hover{
    color: #c2d6d8;
    background-color: #f1610d;
}
/*Display exercises*/

#display-exercise {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#display-exercise p {
    color: #1a265b;
    font-size: 90%;
}
.exercise-list{
    list-style: none;
}

.list-header {
    color: #1a265b;
    font-family: Maven Pro, sans-serif;
    font-size: 200%;
}

.exercise-list button {
    color: #1a265b;
    font-size: 150%;
    font-family: Maven Pro, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.exercise-list button:hover {
    outline: 1px solid #1a265b;
    background-color: #f1610d;
    color: #c2d6d8;
    border-radius: 5px;
}

.chosen-list {
    background: #c2d6d8;
    background: linear-gradient(334deg,#c2d6d8 0%, #50a5af 80%);
    background: -webkit-linear-gradient(334deg,#c2d6d8 0%, #50a5af 80%);
    background: -moz-linear-gradient(334deg,#c2d6d8 0%, #50a5af 80%);
    color: #1a265b;
    font-family: Maven Pro, sans-serif;
    font-size: 150%;
}
.random-btn {
    color: #1a265b;
    font-family: Maven Pro, sans-serif;
    background-color: transparent;
    border: 1px solid #1a265b;
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
}

.random-btn:hover {
    background-color: #f1610d;
    color: #c2d6d8;
}

/* Stopwatch*/

#stopwatch {
    font-family: Maven Pro, sans-serif;
    color: #1a265b;
    width:100%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: 400%;
    font-weight: bold;
}

#stopwatch-buttons {
    color: #1a265b;
    font-family: Maven Pro, sans-serif;
    list-style: none;
}

.list-btn {
    display: inline;
    padding: 10px;
}

.list-btn button {
    color: #1a265b;
    font-family: Maven Pro, sans-serif;
    border: 1px solid #1a265b;
    background-color: transparent;
    font-size: 200%;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.list-btn button:hover {
    color: #c2d6d8;
    background-color: #f1610d;
}
/* Footer */

.footer{
    height: 100px;
    width: 100%;
    background-color: #0f044c;
    margin-top: auto;
    color: #c2d6d8;
}

.footer h3 {
    text-align: center;
}

.footer ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.footer li {
    display: inline-block;
}

.footer a {
    color: #c2d6d8;
    font-size: 200%;
    padding: 0 20px;
}

@media screen and (max-width:900px) {
    header {
        font-size: 100%;
    }

    header div {
        padding: 5px;
    }

    .slide-container{
        gap: 5px;
    }

    .slide {
        width: 300px;
        height: 200px;
    }

    .slide a {
        font-size: 150%;
        width: 150px;
       }

    .intro {
        font-size: 100%;
    }

    .list-header {
        font-size: 150%;
    }

    .exercise-list button {
        font-size: 110%;
    }

    .chosen-list{
        font-size: 110%;
    }

    .list-btn button {
        font-size: 100%;
        padding: 10px;
    }

    .footer h3, a {
        font-size: 100%;
    }

    .footer {
        height: 150px;
    }
}

@media  screen and  (max-width: 300px)
{
    .list-btn {
        display: inline-block;
        padding: 2px;
    }
}
    
