body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    flex-direction: column;
}

/* Header */

header {
    height: 150px;
    color: black;
    line-height: 100px;
    text-align: center;
}
 
/* Slides */

.slide-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
} 


.slide {
    height: 300px;
    width: 300px
}

#slide1 {
    background-image: url("../images/deadlift.jpg");
    
}

#slide2 {
    background-image: url("../images/pexels-photo-7690215.jpeg");
}

#slide-random {
    background-image: url("../images/swing.jpeg");
}

#slide-timer {
    background-image: url("../images/pexels-photo-110471.jpeg");
}

.slide button {
    background: transparent;
    border: 1px solid white;
    color:white;
    width: 250px;
    height: 75px;
    font-size: 200%;
    border-radius: 10px;
}

/* Footer */

.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    margin-top: auto;
}